---
import Layout from "../layouts/LayoutLP.astro";
import Instagram from "../components/btns/Instagram.astro";
import TopBar from "../components/TopBar.astro";
---

<Layout title="Teusin APP">
	<main>
        <TopBar />
        <section class="w-screen justify-center bg-no-repeat bg-contain bg-center mt-[80px]"style="background-image: url('/lp/section-1-lp.png');">
            <div class="flex flex-col sm:flex-row justify-center gap-20">
                <div class="text-center flex flex-col justify-center items-center">
                    <img src="/lp/teusin-logo.png" class="max-w-sm" alt="">
                    <h1 class="font-black italic text-4xl">
                        <span class="block">MAXIMIZE SUAS</span>
                        <span class="block">CHANCES DE <span class="text-[#52F710]">VITÓRIA</span></span>
                    </h1>  
                    <img src="/lp/app-iphone-front.png" class="mt-[80px] max-w-sm sm:hidden" alt="">
                    <h2>
                        <span class="block font-black italic text-1xl mt-[48px]">ACESSO VITALÍCIO POR APENAS</span>
                        <span class="block text-5xl text-[#52F710]" style="font-family: 'Akira Expanded';">R$24,99</span>
                        <span class="block font-black italic text-4xl">VALOR ÚNICO!</span>
                    </h2>
                    <div class="px-4 sm:px-6 lg:px-8">
                        <a href="#" class="block w-full px-6 py-3 md:py-5 font-black italic text-xl md:text-2xl bg-btn-new rounded-xl mt-[48px]">
                            OBTENHA ACESSO AGORA!
                        </a>
                    </div>                                      
                </div>
                <div class="hidden md:block">
                    <img src="/lp/app-iphone-top.png" class="mt-[80px] max-w-sm" alt="">
                </div>
            </div>
        </section>

        <section class="w-screen bg-no-repeat bg-contain bg-center mt-24 p-6"style="background-image: url('/lp/section-2-lp.png');">
            <div class="flex flex-col justify-center items-center text-center gap-3">
                <h1 class="text-xl font-black italic text-black bg-green-new rounded-full px-7">GRANDE NOVIDADE!</h1>
                <img src="/lp/logo-bust-ia.svg" class=" max-w-80" alt="">
                <h2 class="text-2xl font-black">
                    <span class="block">AUMENTE SUAS CHANCES</span>
                    <span class="block">COM <span class="text-[#CC0F80]">INTELIGÊNCIA ARTIFICIAL</span></span>
                </h2>
                <h3 class="text-xl font-black max-w-md bg-[#CC0F80] rounded-lg px-5 py-3">Nossa IA trabalha para você, filtrando sinais que realmente importam.</h3>
                <img src="/lp/app-iphone-win-2.png" class="w-full sm:max-w-2xl" alt="">
            </div>

            <div class="flex flex-col justify-center text-center items-center mt-24">
                <h1 class="text-2xl italic font-black">BENEFÍCIOS E FUNCIONALIDADES</h1>
                <div class="flex flex-col sm:flex-row mt-24 gap-6 max-w-5xl">
                    <div class="bg-con-new flex flex-col justify-center items-center relative pt-16 p-6">
                        <img src="/lp/sec-icon-1.png" alt="" class="absolute -top-10 w-20 glow1">
                        <h1 class="font-bold text-2xl">Análise Precisa</h1>
                        <h2 class="font-medium text-lg">Dados e tendências ao seu alcance para decisões mais inteligentes.</h2>
                    </div>                                     
                    <div class="bg-con-new flex flex-col justify-center items-center relative pt-16 p-6">
                        <img src="/lp/taxa-icon.png" alt="" class="absolute -top-10 w-20 glow2">
                        <h1 class="font-bold text-2xl">Taxa de Acerto Comprovada</h1>
                        <h2 class="font-medium text-lg">Estatísticas que aumentam suas possibilidades de sucesso.</h2>
                    </div>                                     
                    <div class="bg-con-new flex flex-col justify-center items-center relative pt-16 p-6">
                        <img src="/lp/horario-icon.png" alt="" class="absolute -top-10 w-20 glow3">
                        <h1 class="font-bold text-2xl">Horário Estratégico de Entrada</h1>
                        <h2 class="font-medium text-lg">Identificamos os momentos ótimos para você jogar.</h2>
                    </div>                                     
                </div>
            </div>
        </section>

        <section class="w-screen bg-no-repeat bg-contain bg-center mt-24 p-6">
            <div class="flex flex-col sm:flex-row justify-center items-center text-center gap-20">
            <div class="flex flex-col">
                <h1 class="font-black italic text-4xl">
                    <span class="block">Descubra os Jogos</span>
                    <span class="block">Mais <span class="text-[#52F710]">Rentáveis </span>Agora!</span>
                </h1>
                <h2 class="max-w-sm font-medium mt-6 ">Você não precisa mais se perguntar qual jogo escolher. Nossa plataforma inteligente analisa em tempo real os jogos de slots que estão pagando mais alto neste momento.</h2>
                <a href="#" class="block w-full py-5 font-black italic text-2xl bg-btn-new rounded-xl mt-[48px]">OBTENHA ACESSO AGORA!</a>
            </div>
            <div>
                <img src="/lp/games-por.png" alt="">
            </div>
        </div>
        <div class="flex flex-col justify-center items-center text-center gap-3 mt-24">
            <h1 class="text-2xl italic font-black">77 JOGOS ANALISADO EM TEMPO REAL</h1>
            <img src="/lp/games-pc.png" class="mt-6"alt="">
        </div>
        </section>

        <section class="w-screen bg-no-repeat bg-contain bg-center mt-24 p-6">
            <div class="flex flex-col sm:flex-row justify-center items-center text-center gap-20">
                <div class="flex flex-col">
                    <h1 class="font-black italic text-4xl">
                        <span><span class="text-[#F71052]">Experimente </span>por 7 dias</span>
                    </h1>
                    <h2 class="max-w-sm font-medium mt-6 ">Adquira o Boost IA com confiança! Se não estiver satisfeito dentro de 7 dias, entre em contato e avaliaremos seu caso. Se o Boost IA não atender às suas expectativas, oferecemos reembolso total.</h2>
                    <a href="#" class="block w-full py-5 font-black italic text-2xl bg-btn-new rounded-xl mt-[48px]">OBTENHA ACESSO AGORA!</a>
                </div>
                <div>
                    <img src="/lp/7dias-garantia.svg" class="w-72" alt="">
                </div>
            </div>
        </section>

            <div class="h-0.5 my-20 bg-gradient-to-r from-transparent via-[#EE0E5F] to-transparent"></div>

            <div class="max-w-screen-xl mx-auto px-5">
                <div class="flex flex-col items-center">
                    <h2 class="font-bold text-3xl mt-5 tracking-tight text-white">
                        Perguntas Frequentes
                    </h2>
                </div>
                <div class="grid max-w-xl mx-auto mt-6">
                    <!-- Pergunta 1 -->
                    <div class="py-1">
                        <details class="group bg-slate-800 p-6 rounded-md">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none text-white">
                                <span>Como funciona a análise de IA para jogos de slot?</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" class="text-white"><path d="M6 9l6 6 6-6"></path></svg>
                                </span>
                            </summary>
                            <p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                                Nossa plataforma utiliza algoritmos avançados de IA para analisar padrões e tendências em jogos de slot, ajudando a identificar as melhores oportunidades para os jogadores.
                            </p>
                        </details>
                    </div>
                    <!-- Pergunta 2 -->
                    <div class="py-1">
                        <details class="group bg-slate-800 p-6 rounded-md">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none text-white">
                                <span>Qual é o valor único da nossa ferramenta de IA?</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" class="text-white"><path d="M6 9l6 6 6-6"></path></svg>
                                </span>
                            </summary>
                            <p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                                O diferencial do nosso aplicativo está na precisão e no detalhamento das análises, proporcionando insights únicos e personalizados para cada jogador, baseados em vastas quantidades de dados.
                            </p>
                        </details>
                    </div>
                    <!-- Pergunta 3 -->
                    <div class="py-1">
                        <details class="group bg-slate-800 p-6 rounded-md">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none text-white">
                                <span>Como posso acessar as análises do aplicativo?</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" class="text-white"><path d="M6 9l6 6 6-6"></path></svg>
                                </span>
                            </summary>
                            <p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                                As análises podem ser acessadas diretamente pelo aplicativo, disponível para dispositivos móveis. Após o login, você terá acesso a todos os recursos de análise de IA.
                            </p>
                        </details>
                    </div>
                    <!-- Pergunta 4 -->
                    <div class="py-1">
                        <details class="group bg-slate-800 p-6 rounded-md">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none text-white">
                                <span>É necessário algum conhecimento prévio para usar o aplicativo?</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" class="text-white"><path d="M6 9l6 6 6-6"></path></svg>
                                </span>
                            </summary>
                            <p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                                Não, nosso aplicativo foi projetado para ser intuitivo e de fácil uso. Qualquer pessoa, independentemente do seu nível de conhecimento em jogos de slot ou tecnologia, pode se beneficiar das análises.
                            </p>
                        </details>
                    </div>
                    <!-- Pergunta 5 -->
                    <div class="py-1">
                        <details class="group bg-slate-800 p-6 rounded-md">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none text-white">
                                <span>Existe algum custo para usar o aplicativo?</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" class="text-white"><path d="M6 9l6 6 6-6"></path></svg>
                                </span>
                            </summary>
                            <p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                                Oferecemos uma versão gratuita com funcionalidades básicas. Para acessar recursos avançados e análises detalhadas, dispomos de um plano premium, disponível por assinatura.
                            </p>
                        </details>
                    </div>
                </div>
            </div>
            
            
            <footer class="bg-gray-900 text-white p-6 mt-20">
                <h1 class="text-xl font-black text-center text-[#F71052]">Aviso Legal</h1>
                <p class="mt-4 text-center">
                    Lembramos que a participação em apostas é estritamente reservada a indivíduos maiores de 18 anos. 
                    Encorajamos a prática de apostas de maneira responsável e consciente, respeitando limites pessoais e financeiros. 
                </p>
            </footer>
            
    </main>
</Layout>
<style>
    .bg-btn-new {
        background: linear-gradient(97.08deg, #F71052 34.97%, #B30F9A 123.14%);
    }
    .bg-green-new {
        background: linear-gradient(97.08deg, #52F710 34.97%, #10F7B5 123.14%);
    }

    .bg-con-new {
        background: linear-gradient(180deg, rgba(238, 14, 95, 0.56) 0%, rgba(170, 16, 164, 0.27) 100%);
        backdrop-filter: blur(7.8px);
        border-radius: 20px;
    }
    
    .glow1 {
        filter: drop-shadow(0px 10px 30px rgba(82, 247, 16, 0.7)); 
    }
    .glow2 {
        filter: drop-shadow(0px 10px 30px rgba(16, 247, 181, 0.7)); 
    }
    .glow3 {
        filter: drop-shadow(0px 10px 30px rgba(247, 16, 198, 0.7)); 
    }

    .transition-max-height {
        transition: max-height 0.5s ease-in-out;
    }

</style>