---
import Layout from "../layouts/LayoutApp.astro";
import TopBar from "../components/TopBar.astro";
---

<Layout title="Teusin APP">
	<main class="md:w-4/12 sm:w-full">
        
	</main>
	<TopBar />
</Layout>