<div class=" flex justify-center items-center shadow-lg">
    <script
        src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
        type="module"></script>

    <dotlottie-player
        src="https://lottie.host/422b91ab-738d-42b3-8601-1e5e56a4d6b9/ip4XfksX1A.json"
        background="transparent"
        speed="1"
        style="width: 431px; height: 120px;"
        loop
        autoplay></dotlottie-player>
</div>
