
<div class="flex flex-col px-8 h-full w-full justify-center items-center">
  <div class="flex justify-center" style="margin-top: 80px;">
    <img src="/logo-boostia.svg" alt="">
    <img src="/teusin-avatar.png" alt="">
  </div>
  <a href="/boost-ia-link"
  type="submit"
  class="items-center flex justify-center mb-5 h-14 relative text-white bg-button-new focus:outline-none font-medium rounded-lg w-full px-5 py-2.5 text-center transition-transform transform-gpu hover:scale-110" style="margin-top: -30px;"
  >
  <span class="relative z-10">USAR AGORA</span>
</a>
  <span class="mb-5 w-full relative px-6 py-2 border border-white text-white text-xs rounded-lg text-center flex items-center justify-center">
    Boost IA é a sua parceira confiável na busca pelos melhores sinais e entradas. Potencialize seus ganhos com nossa inteligência artificial de ponta.
  </span>

<a href="/plataformas" type="submit" class=" gap-3 mb-5 h-14 flex justify-center items-center text-white bg-button-new focus:outline-none font-medium rounded-lg w-full px-5 py-2.5 text-center transition-transform transform-gpu hover:scale-110" >
  <img src="/crown-icon.svg" alt="">
  <div class="flex flex-col">
    <span class="relative text-lg z-10 text-yellow-500 font-black italic">MELHORES</span>
    <span class="font-black text-sm italic">PLATAFORMAS</span>
  </div>
</a>
</div>

<style>
  .bg-button-new {
    background: linear-gradient(97.08deg, #f71052 34.97%, #b30f9a 123.14%);
  }
</style>
