<div class="fixed bottom-5 z-10">
  <a href="/boost-ia-link" class="text-gray-300 hover:text-white">
      <img src="/boost-ia-btn.svg" class="transition-transform transform-gpu hover:scale-110" alt="">
  </a>
</div>