<div class="flex flex-col justify-center items-center w-full">
  <img class="before:w-48" src="teusin-avatar.png" alt="">
  <img class="w-56" src="logo-teusin-cor.svg" style="margin-top: -25px;" alt="">
  <div class="w-56 flex justify-end"> <!-- Adicione a classe justify-end para alinhar o conteúdo à direita -->
    <span class="text-xl font-black italic text-white">APP</span>
  </div>
</div>
