---
import Instagram from '../components/btns/Instagram.astro';
---

<div class="fixed top-0 inset-x-0 bg-opacity-75 bg-black py-2 px-8 flex items-center justify-between md:justify-around z-50">
  <div class="flex items-center">
      <img src="/logo-white.svg" alt="Logo" class="h-9">
  </div>
  <Instagram></Instagram>
</div>
