<div class="flex justify-center">
  <a
    href="https://www.instagram.com/teusinofc"
    target="_blank"
    class="flex bg-button-new justify-center gap-2 rounded-full text-white px-2 py-1 italic font-thin"
  >
    @teusinofc
    <img src="/bi_instagram.svg" alt="" />
  </a>
</div>

<style>
  .bg-button-new {
    background: linear-gradient(90.95deg, #ee0e5f 0.54%, #af0f9e 99.37%);
  }
</style>
