---
import Layout from "../../layouts/LayoutApp.astro";
import TopBar from "../../components/TopBar.astro";
import AddPlataforma from "../../components/addplataforma.astro";
---

<Layout title="Admin Teusin">
	<main class="md:w-4/12 sm:w-full">
        <AddPlataforma/>
	</main>
	<TopBar />
</Layout>